@model MVC.Models.Course

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Course</h4>
    <div class="alert-danger">@ViewBag.error</div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <input type="hidden" name="startTime" value="20" />
    <div class="form-group">
        <label for="hour" class="control-label col-md-2">Hour:</label>
        <div class="col-md-10">
            <input type="text" value="@(ViewBag.edit.startTime / 60)" class="form-control" id="hour" min="1" max="23" name="hour">
        </div>
    </div>

    <div class="form-group">
        <label for="min" class="control-label col-md-2">Minutes:</label>
        <div class="col-md-10">
            <input type="text" value="@(ViewBag.edit.startTime % 60)" class="form-control" id="min" min="0" max="59" name="min">
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.teacher, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="teacher" name="teacher">
                @foreach (MVC.Models.User a in ViewBag.teachers)
                {
                    <option value="@a.StudentID" @if (ViewBag.edit.teacher == a.StudentID) { @: selected
                            }>
                        @a.FullName
                    </option>
                }

            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.classroom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.classroom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.classroom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.day, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.day, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.aDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" type="datetime-local" name="aDate" value="@ViewBag.edit.aDate.Date.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')">
            @Html.ValidationMessageFor(model => model.aDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.classrooma, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.classrooma, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.classrooma, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.bDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" type="datetime-local" name="bDate" value="@ViewBag.edit.bDate.Date.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')">
            @Html.ValidationMessageFor(model => model.bDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.classroomb, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.classroomb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.classroomb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
